#logo{
    float: left;
    width: 250px;
    height: 99%;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 80px;
    color: #ffffff;
    background: #4aaaa5;
    left: 35px;
    /* border-radius: 85%; */
}



#nav-header{
    width: 99%;
}

#main-content{
    background-color: #eeeeee;
}
#about-me{
    float: left;
}